<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>가수와 작곡가의 만남 - 채팅</title>
    <link rel="stylesheet" href="/css/chat.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/command.js"></script>
    <link href="../css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div id="main">
      <div id="console">
        <!-- 채팅 메시지 영역 -->
      </div>
      <div id = "input">

        <input onkeyup="enterkey()" class = "form-control" type="text" id="command" placeholder="" required/>

        
      </div>
    </div>
  </body>
</html>