<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가수와 작곡가의 만남 - 프로필 사진 업로드</title>
</head>
<body>
    <form action = 'upload' method = 'post' enctype="multipart/form-data">
        <input type='file' name='userfile'>
        <input type='submit'>
    </form>
</body>
</html>